.s-1 {
	margin-bottom: 50px;
}

.container {
	width: 1052px;
	margin: 0 auto;
/*	border: 1px dotted; black;*/
}

.s-2 {
	margin-bottom: 100px;
}

.info-box {
	margin-bottom: 30px;
}

.stick {
	width: 2px;
	height: 30px;
	background-color: blue;
	display: inline-block;
}

h3 {
	display: inline-block;
}
h4 {
	display: inline-block;
}

.card1 {
	width: 500px;
	height: 200px;
	background: #E7E7E7;
	display: inline-block;
	margin-right: 46px;
	vertical-align: top;
}
.card2 {
	width: 500px;
	height: 200px;
	background: #E7E7E7;
	display: inline-block;
	vertical-align: top;
}


img {
	margin-right: 41px;
}

h5 {
	font-family: "BPG Nino Mtavruli", sans-serif;
	font-size: 22px;
	font-weight: 700;
}

h6 {
	font-family: "BPG Square", sans-serif;
	font-size: 22px;
	font-weight: 700;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 28px;
	font-weight: 300;
}



